<h1>Edit Listing</h1>
<%= render 'form' %>
<%= link_to listing_path(@listing), method: :delete, data: {confirm: "Are you sure you want to delete this listing?"} %>
<%= link_to 'Back', listings_path %>
