<div class="fixed-top">
<div class="pusher sps sps--abv spsdiv"></div>
<nav id="filter" class="navbar navbar-toggleable-md bottom-shadow">

  <div class="container">
    <div class="row">
    <form class="navbar-form form-inline input-group">

    <div class="col-2">
    <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), class: "custom-select", include_blank: "Category" %>
    </div>

    <div class="col-2">
    <%= select_tag "condition", options_from_collection_for_select(@conditions, "id", "name"), class: "custom-select", include_blank: "Condition" %>
    </div>

    <div class="col-2">
    <select name="Price" class="custom-select">
      <option selected>Price</option>
      <option>Placeholder</option>
      <option>Placeholder</option>
      <option>Placeholder</option>
    </select>
    </div>

    <div class="col-2">
    <select name="Date" class="custom-select">
      <option selected>Date</option>
      <option>Placeholder</option>
      <option>Placeholder</option>
      <option>Placeholder</option>
    </select>
    </div>

    <div class="col-2">
    <button type="submit" name="filter" class="btn filterbtn">Filter</button>
    </div>

    <div class="col-2">
    <%= link_to "New Listing", new_listing_path,  {class: "btn filterbtn new-listing", :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %>
    </div>
  </form>
  </div>
  </div>
</nav>
</div>
<div class="paddingfix"></div>

<div class="container">

  <div class="card-deck-wrapper">
  <div class="card-deck">
    <%= render 'listing' %>
  </div>
  </div>

  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Listing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
      </div>
      </div>
    </div>
  </div>
</div>
