<div class="ui segment">
  <h3>Contacts</h3>
  <div class="ui list">
    <% @offers.each do |offer| %>
      <% if offer.seller_id == current_user.id || offer.buyer_id == current_user.id %>
        <% if offer.seller_id == current_user.id %>
          <% buyer = User.find(offer.buyer_id) %>
        <% else %>
          <% buyer = User.find(offer.seller_id) %>
        <% end %>
        <div class="item">
          <%# if buyer.present %>
            <%= link_to 'Message' + ' ' + buyer.first_name + ' ' + buyer.last_name, conversations_path(seller_id: current_user.id, buyer_id: buyer.id), method: 'post', class: "btn btn-attention raised"%>
          <%# end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
