<footer class="footer">
  <div class="container">
<!-- <<<<<<< HEAD -->
    <p>&copy; 2017 <%= link_to "Buy-centric", "https://github.com/wtung008/buyer-centric" %></p>
<!-- =======
    <p>&copy; 2017 <%= link_to "Buyer-centric", root_path %></p>
>>>>>>> a51038c4ab0c9ca73f1469c356138bb3db0871fc -->
  </div>
</footer>
